
body{
    background-color: azure;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 36px;
    color: #405794;
}

h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 24px;
    color:#405794;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: #405794;
}

.Mod18{
    display: none;
}

.linkList{
    color: #405794;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}
